@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap");
*{padding : 0; margin: 0; box-sizing: border-box;}
.display, footer .footer, #testmonials .Testmonials, #about .about, #skills .skills, #hero, header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important; 
}

/* Variables declaration Define */
.button, #contact button, #about .about .about-content .btn, .hero-content .btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #26A5EA;
  border-radius: 30px;
  margin-top: 12px;
  box-shadow: 0 0 1rem #26A5EA;
}
.button a, #contact button a, #about .about .about-content .btn a, .hero-content .btn a {
  color: #1C2455;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  text-shadow: 0 0 0.1rem #ffffff;
}

.g-margin, #about .about, #skills, .hero {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #1C2455;
  box-sizing: border-box;
}

header {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0 !important;
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease;
}

.menu-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.logo {
  font-size: 2.5rem;
  padding: 25px;
  cursor: pointer;
}

nav {
  margin-right: auto;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline;
  padding: 25px;
}
nav a {
  font-family: "kurale", serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
  cursor: pointer;
}
nav a:hover {
  border-bottom: 3px solid #26A5EA;
  color: #26A5EA;
}

.right-menu a {
  color: #ffffff;
  font-size: 18px;
  padding: 25px;
  font-weight: 400;
  line-height: normal;
  font-family: "kurale", serif;
  transition: 0.3s ease;
  cursor: pointer;
}

/*--Hero page here--*/

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; /* Ensure items are laid out in a row */
  margin-top: 2% !important; /* Adjust margin to position the hero section */
}


.hero {
  margin-top: 2% !important;
}

.hero-content {
  max-width: 60%; 
}
.hero-content .hello {
  font-size: 18px;
  color: #ffffff;
  font-family: "kurale", serif;
  margin-left: 1%;
}
.hero-content h1 {
  font-size: 65px;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  line-height: 0.8;
  letter-spacing: 2px;
  font-weight: 600;
}
.hero-content h1 span {
  font-size: 42px;
  color: #26A5EA;
  font-weight: 800;
  letter-spacing: 2px;
}
.hero-content p {
  font-size: 18px;
  color: #ffffff;
  font-family: "kurale", serif;
  line-height: 1.5;
  font-weight: 300;
  padding: 10px 0px 55px;
}
.hero-content p span {
  color: #26A5EA;
  font-weight: 300;
}
.hero-content .social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  background: #ffffff;
  border: 0.2rem solid #26A5EA;
  border-radius: 50%;
  font-size: 1.1rem;
  color: #1C2455;
  margin: 4px;
  transition: 0.5s ease;
}
.hero-content .social-icons a:hover {
  background: #26A5EA;
  color: #1C2455;
  box-shadow: 0 0 1rem #26A5EA;
}
.hero-img img {
  width: 450px !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  margin-right: -15% !;
  margin-top: 5% !important;
  image-rendering: pixelated !important;
}

/*---skills---*/
#skills .se {
  text-align: left;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 20px;
  font-family: "Outfit", sans-serif;
}
#skills .skills {
  gap: 2rem;
}
#skills .skills .skill img {
  image-rendering: pixelated;
  width: 100%;
  -moz-filter: contrast(100%) brightness(110%);
  -ms-filter: contrast(100%) brightness(110%);
  -o-filter: contrast(100%) brightness(110%);
  filter: contrast(100%) brightness(110%);
}

/*----about----*/
#about {
  margin-top: 2% !important;
}
#about .about-title h2 {
  text-align: center;
  color: #26A5EA;
  font-size: 35px;
  font-weight: 500;
  padding: 20px;
  line-height: 1.2;
  font-family: "kurale", serif;
}
#about .about-title .span {
  color: #ffffff !important;
  padding: 10px;
  font-family: "Outfit", sans-serif;
  font-weight: 400 !important;
}
#about .about {
  gap: 2rem;
}
#about .about .about-content h2 {
  font-size: 35px;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  line-height: 0.7;
  letter-spacing: 2px;
  font-weight: 600;
}
#about .about .about-content p {
  font-size: 18px;
  color: #ffffff;
  font-family: "kurale", serif;
  line-height: 1.5;
  font-weight: 300;
  padding: 10px 0px 65px;
  font-size: 28px;
}
#about .about .about-img img {
  width: 620px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: -15%;
  margin-top: -12%;
  image-rendering: pixelated;
}
#services .span{
  text-align: canter !important;

}
/*----testmonial----*/
#testmonials {
  margin-top: 5%;
}
#testmonials h2 {
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  font-weight: 400;
  padding: 20px;
  font-family: "kurale", serif;
  margin-bottom: 3%;
}
#testmonials .Testmonials {
  justify-content: center !important;
}
#testmonials .Testmonials .testmon-img img {
  width: 100% !important;
  margin: 0 auto;
}

/*----contact----*/
#contact {
  margin-top: 5%;
  margin-bottom: 5%;
}
#contact h2 {
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  font-weight: 400;
  padding: 10px;
  font-family: "kurale", serif;
  margin-bottom: 2%;
}
#contact .me {
  color: #26A5EA;
  font-family: "kurale", serif;
}
#contact form {
  margin: 10px auto;
  background: transparent;
  width: 70rem;
  padding: 20px;
  text-align: center;
  margin-bottom: 3rem;
}
#contact form .input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#contact form input,
#contact form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: #1C2455;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
}
#contact form input {
  width: 49%;
}
#contact form textarea {
  resize: none;
}
#contact button {
  margin-top: 20px !important;
  font-size: 25px;
}

/*---footer---*/
footer {
  flex-wrap: wrap;
  background-color: #26A5EA;
  height: 12vh;
}
footer .footer {
  margin-left: 3%;
  margin-right: 3%;
}
footer .footer .logo {
  font-size: 2.5rem;
  cursor: pointer;
}
footer .footer .menu {
  margin-right: auto;
}
footer .footer .menu ul {
  list-style: none;
}
footer .footer .menu li {
  display: inline;
  padding: 25px;
}
footer .footer .menu a {
  font-family: "kurale", serif;
  color: #1C2455;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
  cursor: pointer;
}
footer .footer .social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: #1C2455;
  border: 0.2rem solid #26A5EA;
  border-radius: 50%;
  font-size: 1rem;
  color: #ffffff;
  margin: 2px;
  transition: 0.5s ease;
}
footer .footer .social-icons a:hover {
  border: 3px solid #26A5EA;
  color: #26A5EA;
  box-shadow: 0 0 1rem #1C2455;
}

/*menu responsiveness */
.menuIcon {
  display: none;
  font-size: 3.6rem;
  color: #ffffff;
  cursor: pointer;
}

.navbar {
  display: none;
}
.navbar ul {
  list-style: none;
}
.navbar li {
  display: inline;
  padding: 25px;
}
.navbar a {
  font-family: "kurale", serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
  cursor: pointer;
}
.navbar a:hover {
  color: #26A5EA;
  border-bottom: 3px solid #26A5EA;
}/*# sourceMappingURL=style.css.map */

.skillsSection {
  padding: 2rem;
  background-color: #fff;
  color: #ffffff;
  text-align: center;
}

.header{
  margin-bottom: 2rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  background-color: #243045;
  padding: 2rem;
  border-radius: 10px;
  text-align: left;
  position: relative;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #00aaff;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.exp-header {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.desc {
  margin-bottom: 1rem;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skillName {
  font-weight: bold;
}

.skillLevel {
  color: #00aaff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }
}
